# Ignore node_modules folder
node_modules/

# Ignore environment variables
.env

# Ignore logs
logs/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/

# Ignore build outputs
dist/
build/

# Ignore npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Firebase Admin SDK private key (if used)
*.json
